* {
	font-family: JetBrainsMono, SymbolsNerdFont;
	font-weight: bold;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

@define-color bg #272a34;
@define-color fg #f9f9f9;
@define-color black #23252e;
@define-color green #7287fd;
@define-color gr #363749;



#memory {
	background: @black;
	color: @fg;
	padding: 0 0px 0 5px;
	margin: 4px 0 4px 0;
	border-radius: 0;
}

#custom-weather {
	background: @black;
	color: @fg;
	padding: 0 0px 0 15px;
	margin: 4px 0 4px 10px;
	border-radius: 6 0 0 6;
}

#custom-foot {
	background: @black;
	color: @fg;
	padding: 0 5px 0 5px;
	margin: 4px 0 4px 0;
}
#custom-nemo {
	background: @black;
	color: @fg;
	padding: 0 5px 0 10px;
	margin: 4px 0 4px 0;
	border-radius: 0 0 0 0;
}


#workspaces {
	background-color: @black;
	margin: 4px 5px 4px 5px;
	border-radius: 6;
}
#workspaces button {
	background-color: @black;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}
#workspaces button:hover {
	background-color: @black;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px @fg;
	border-radius: 0;
}
#workspaces button.active {
	background-color: @black;
	color: @green;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px;
	border-radius: 0;
}
#workspaces button.empty {
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}


#tray {
	background: @black;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 4px 0 4px 0;
	border-radius: 6 0 0 6;
}
#pulseaudio{
	background: @black;
	color: @fg;
	padding: 0 30px 0 15px;
	margin: 4px 0px 4px 0;
}

#language {
	background: @black;
	color: @green;
	padding: 0;
	margin: 4px 0 4px 0;
	border-bottom: solid 2px @green;
}

#clock {
	background: @black;
	color: @fg;
	padding: 0 15px 0 29px;
	margin: 4px 10px 4px 0;
	border-radius: 0 6 6 0;
	font-size: 14px;
}
#custom-menu {
	background: @black;
	color: @green;
	padding: 0 5px 0 10px;
	margin: 4px 0 4px 0;
	border-radius: 0 6 6 0;
}
